._6_au{overflow:hidden}._3c4y{display:block;margin:auto;padding:140px 0;text-align:center;width:50%}
.sp_ENMwbPKTUcL{background-image:url(/rsrc.php/v3/yl/r/4Gem-pqdaAn.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_ENMwbPKTUcL.sx_2a7593{width:16px;height:16px;background-position:0 -21px}.sp_ENMwbPKTUcL.sx_c65e01{background-position:0 0}

#bootloader_kxABP{height:42px;}.bootloader_kxABP{display:block!important;}